# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
*.log
/media/
*.pot
*.py[co]

# Virtual Environment
venv/

# OS Files
.DS_Store
Thumbs.db

.coverage


static/
staticfiles/css/

src/tallies/

kurazetu_key
kurazetu_key.pub
vscode.yaml
