<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block title %}
            <title>Kura Zetu</title>
        {% endblock %}

        {% block head %}

        {% endblock %}

        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="flex w-full min-h-screen bg-white">
        <div class="w-full">
            {% block content %}

            {% endblock %}
        </div>

        {% block extra_js %}

        {% endblock %}
    </body>
</html>
