{% extends "base.html" %}

{% block extra_head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=IBM+Plex+Mono:wght@400;500;600&display=swap"
    />
    <link rel="alternate" type="application/rss+xml" title="Kura Zetu Blog" href="{% url 'blog:feed' %}" />
    {% block blog_head %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="blog-page">
        <div class="blog-paper" aria-hidden="true"></div>

        <div class="blog-disclaimer">
            <span>● Citizen tally · Not an IEBC system</span>
        </div>

        <nav class="blog-nav">
            <a class="blog-brand" href="/">
                <span class="blog-brand-name">KuraZetu</span>
                <span class="blog-brand-tag">Blog</span>
            </a>
            <div class="blog-pills">
                <a class="blog-pill" href="/ui/">Results</a>
                <a class="blog-pill is-current" href="{% url 'blog:list' %}">Blog</a>
                <a class="blog-pill" href="/api/schema/rapidoc/">API</a>
            </div>
        </nav>

        {% block blog_content %}{% endblock %}
    </div>
{% endblock %}
