
black
django
django-browser-reload
django-cors-headers
django-leaflet
django-phonenumber-field
django-tailwind
django_browser_reload
isort
phonenumbers
pre-commit
psycopg2-binary
pytest
pytest-black
pytest-cov
pytest-django
pytest-sugar
python-decouple
tqdm
